@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
body{
    margin: 8px;
 
}
body, #root{
    height: 100vh;
}
.microphone-container{
    @apply  rounded-sm   h-14 flex  justify-end pr-8 items-center;
}
.stopwatch-container{
    @apply justify-self-center;
}
.textarea-container{
    max-width: 1024px;
}
.container{
    @apply grid grid-cols-2 w-[80%] max-w-[1024px] rounded border border-sky-500 m-auto mb-5 mt-5 items-center;
}
@media screen and (max-width:390px) {
    .stopwatch-container{
        
    }
    .microphone-container{
    }
}


#overlay {
    @apply pt-14 justify-center bg-transparent fixed w-full h-full z-10;
  }

#overlay__content {
    @apply w-80 h-40 p-5  border  rounded flex items-center justify-center bg-slate-50;
  }


  /* playground css */

  .btn{
    padding: 5px;
    margin-left: 5px;
  }