@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
body{
    margin: 8px;
 
}
body, #root{
    height: 100vh;
}
.microphone-container{
    @apply  rounded-sm   h-14 flex  justify-end pr-8 items-center;
}
.stopwatch-container{
    @apply justify-self-center;
}

.container{
    @apply grid grid-cols-2 w-[80%] rounded border border-sky-500 m-auto mb-5 mt-5 items-center;
}
@media screen and (max-width:390px) {
    .stopwatch-container{
        
    }
    .microphone-container{
    }
}